In [ ]:
x=[1,2,"John", "M", "Student"]

In [ ]:
print 'type is ',type(x)