## 2.1 Overview of a Series

In [ ]:
import pandas as pd
import numpy as np

### 2.1.1 Classes, and Instances

In [ ]:
pd.Series()

### 2.1.2 Populating the Series with Values

In [ ]:
ice_cream_flavors = [
    "Chocolate",
    "Vanilla",
    "Strawberry",
    "Rum Raisin",
]

pd.Series(ice_cream_flavors)

In [ ]:
# The two lines below are equivalent
pd.Series(ice_cream_flavors)
pd.Series(data = ice_cream_flavors)

### 2.1.3 Customizing the Series Index

In [ ]:
# List with a length of 4
ice_cream_flavors = [
    "Chocolate",
    "Vanilla",
    "Strawberry",
    "Rum Raisin",
]

# Tuple with a length of 4
days_of_week = ("Monday", "Wednesday", "Friday", "Saturday")

# Reminder: every two arguments must be separated by a comma
# The two lines below are equivalent
pd.Series(ice_cream_flavors, days_of_week)
pd.Series(data = ice_cream_flavors, index = days_of_week)

In [ ]:
ice_cream_flavors = [
    "Chocolate",
    "Vanilla",
    "Strawberry",
    "Rum Raisin",
]

days_of_week = ("Monday", "Wednesday", "Friday", "Wednesday")

# The two lines below are equivalent
pd.Series(ice_cream_flavors, days_of_week)
pd.Series(data = ice_cream_flavors, index = days_of_week)

In [ ]:
# The order of the 'index' and 'data' parameters is swapped here
pd.Series(index = days_of_week, data = ice_cream_flavors)

In [ ]:
bunch_of_bools = [True, False, False]
pd.Series(bunch_of_bools)

In [ ]:
stock_prices = [985.32, 950.44]
time_of_day = ["Open", "Close"]
pd.Series(data = stock_prices, index = time_of_day)

In [ ]:
lucky_numbers = [4, 8, 15, 16, 23, 42]
pd.Series(lucky_numbers)

In [ ]:
lucky_numbers = [4, 8, 15, 16, 23, 42]

# The next line of code combines positional arguments
# and keyword arguments. The lucky_numbers list is passed
# sequentially to the "data" parameter. The "float" string
# is passed by keyword argument. The "dtype" parameter is
# third in line.

pd.Series(lucky_numbers, dtype = "float")

### 2.1.4 Creating a Series with Missing Values

In [ ]:
# We assigned the NumPy library to the alias 'np' 
# when we imported it earlier. The 'nan' attribute
# is a top-level export of the library.

temperatures = [94, 88, np.nan, 91]
pd.Series(data = temperatures)

## 2.2 Create a Series from Python Objects

### 2.2.1 Dictionaries

In [ ]:
calorie_info = {
    "Cereal": 125,
    "Chocolate Bar": 406,
    "Ice Cream Sundae": 342,
}

diet = pd.Series(calorie_info)

diet

In [ ]:
diet.values

In [ ]:
type(diet.values)

In [ ]:
diet.index

In [ ]:
type(diet.index)

In [ ]:
diet.dtype

In [ ]:
diet.size

In [ ]:
diet.shape

In [ ]:
diet.is_unique

In [ ]:
pd.Series(data = [3, 3]).is_unique

In [ ]:
pd.Series(data = [1, 3, 6]).is_monotonic

In [ ]:
pd.Series(data = [1, 6, 3]).is_monotonic

### 2.2.2 Tuples

In [ ]:
pd.Series(data = ("Red", "Green", "Blue"))

In [ ]:
pd.Series(data = [("Red", "Green", "Blue"), ("Orange", "Yellow")])

### 2.2.3 Sets

In [ ]:
my_set = {"Ricky", "Bobby"}
# pd.Series(my_set)

In [ ]:
pd.Series(list(my_set))

### 2.2.4 NumPy Arrays

In [ ]:
data = np.random.randint(1, 101, 10)
data

In [ ]:
pd.Series(data)

## 2.3 Retrieving the First and Last Rows

In [ ]:
values = range(0, 500, 5)
nums = pd.Series(data = values)
nums

In [ ]:
nums.head(3)

In [ ]:
nums.head(n = 3)

In [ ]:
nums.head()

In [ ]:
nums.tail(6)

In [ ]:
nums.tail()

## 2.4 Mathematical Operations

In [ ]:
# Reminder: if the data source has a single missing value, 
# pandas will coerce the integers to floating-point values

numbers = pd.Series([1, 2, 3, np.nan, 4, 5])
numbers

In [ ]:
numbers.count()

In [ ]:
numbers.sum()

In [ ]:
numbers.sum(skipna = False)

In [ ]:
# 5 present values meets the minimum threshold of 3 values
numbers.sum(min_count = 3)

In [ ]:
# 5 present values meets the minimum threshold of 5 values
numbers.sum(min_count = 5)

In [ ]:
numbers.sum(min_count = 6)

In [ ]:
# Calculate the product of all valid numbers
numbers.product()

In [ ]:
# Calculate the product of all Series values
# The nan value in the Series leads to a nan result

numbers.product(skipna = False)

In [ ]:
# Calculate the product of all Series values
# if at least 3 valid values are present

numbers.product(min_count = 3)

In [ ]:
numbers

In [ ]:
numbers.cumsum()

In [ ]:
numbers.cumsum(skipna = False)

In [ ]:
numbers

In [ ]:
numbers.pct_change()

In [ ]:
# The three lines below are equivalent
numbers.pct_change()
numbers.pct_change(fill_method = "pad")
numbers.pct_change(fill_method = "ffill")

In [ ]:
# The two lines below are equivalent
numbers.pct_change(fill_method = "bfill")
numbers.pct_change(fill_method = "backfill")

In [ ]:
numbers.mean()

In [ ]:
numbers.median()

In [ ]:
numbers.std()

In [ ]:
numbers.max()

In [ ]:
numbers.min()

In [ ]:
animals = pd.Series(["koala", "aardvark", "zebra"])
animals

In [ ]:
animals.max()

In [ ]:
animals.min()

In [ ]:
numbers.describe()

In [ ]:
# Notice that the lack of NaN values from the
# random selection allows pands to return a
# Series of integers rather than floats

numbers.sample(3)

In [ ]:
authors = pd.Series(
    ["Hemingway", "Orwell", "Dostoevsky", "Fitzgerald", "Orwell"]
)

authors.unique()

In [ ]:
authors.nunique()

### 2.4.1 Arithmetic Operations

In [ ]:
s1 = pd.Series(data = [5, np.nan, 15], index = ["A", "B", "C"])
s1

In [ ]:
s1 + 3

In [ ]:
s1.add(3)

In [ ]:
# The three lines below are equivalent
s1 - 5
s1.sub(5)
s1.subtract(5)

In [ ]:
# The three lines below are equivalent
s1 * 2
s1.mul(2)
s1.multiply(2)

In [ ]:
# The three lines below are equivalent
s1 / 2
s1.div(2)
s1.divide(2)

In [ ]:
# The two lines below are equivalent
s1 // 4
s1.floordiv(4)

In [ ]:
# The two lines below are equivalent
s1 % 3
s1.mod(3)

### 2.4.2 Broadcasting

In [ ]:
s1 = pd.Series([1, 2, 3], index = ["A", "B", "C"])
s2 = pd.Series([4, 5, 6], index = ["A", "B", "C"])

In [ ]:
s1 + s2

In [ ]:
s1 = pd.Series(data = [3, 6, np.nan, 12])
s2 = pd.Series(data = [2, 6, np.nan, 12])

In [ ]:
# The two lines below are equivalent
s1.eq(s2)
s1 == s2

In [ ]:
# The two lines below are equivalent
s1.ne(s2)
s1 != s2

In [ ]:
s1 = pd.Series(
    data = [5, 10, 15], index = ["A", "B", "C"]
)

s2 = pd.Series(
    data = [4, 8, 12, 14], index = ["B", "C", "D", "E"]
)

In [ ]:
s1 + s2

## 2.5 Passing the Series to Python's Built-In Functions

In [ ]:
cities = pd.Series(
    data = ["San Francisco", "Los Angeles", "Las  Vegas", np.nan]
)

In [ ]:
len(cities)

In [ ]:
type(cities)

In [ ]:
dir(cities)

In [ ]:
list(cities)

In [ ]:
dict(cities)

In [ ]:
cities

In [ ]:
"Las Vegas" in cities

In [ ]:
2 in cities

In [ ]:
"Las Vegas" in cities.values

In [ ]:
100 not in cities

In [ ]:
"Paris" not in cities.values

## 2.6 Summary