## 11.1 Introducing the Timestamp object

In [ ]:
import datetime as dt
import pandas as pd

In [ ]:
# The two lines below are equivalent
birthday = dt.date(1991, 4, 12)
birthday = dt.date(year = 1991, month = 4, day = 12)

birthday

In [ ]:
birthday.year

In [ ]:
birthday.month

In [ ]:
birthday.day

In [ ]:
# birthday.month = 10

In [ ]:
# The two lines below are equivalent
alarm_clock = dt.time(6, 43, 25)
alarm_clock = dt.time(hour = 6, minute = 43, second = 25)

alarm_clock

In [ ]:
dt.time()

In [ ]:
dt.time(hour = 9, second = 42)

In [ ]:
dt.time(hour = 19, minute = 43, second = 22)

In [ ]:
alarm_clock.hour

In [ ]:
alarm_clock.minute

In [ ]:
alarm_clock.second

In [ ]:
# The two lines below are equivalent
moon_landing = dt.datetime(1969, 7, 20, 22, 56, 20)

moon_landing = dt.datetime(
    year = 1969,
    month = 7,
    day = 20,
    hour = 22,
    minute = 56,
    second = 20
)

moon_landing

In [ ]:
dt.datetime(2020, 1, 1)

In [ ]:
dt.timedelta(
    weeks = 8,
    days = 6,
    hours = 3, 
    minutes = 58,
    seconds = 12
)

### 11.1.2 How `pandas` works with datetimes

In [ ]:
# The two lines below are equivalent
pd.Timestamp(1991, 4, 12)
pd.Timestamp(year = 1991, month = 4, day = 12)

In [ ]:
(pd.Timestamp(year = 1991, month = 4, day = 12) 
 == dt.date(year = 1991, month = 4, day = 12))

In [ ]:
(pd.Timestamp(year = 1991, month = 4, day = 12, minute = 2)
 == dt.datetime(year = 1991, month = 4, day = 12, minute = 2))

In [ ]:
(pd.Timestamp(year = 1991, month = 4, day = 12, minute = 2) 
 == dt.datetime(year = 1991, month = 4, day = 12, minute = 1))

In [ ]:
pd.Timestamp("2015-03-31")

In [ ]:
pd.Timestamp("2015/03/31")

In [ ]:
pd.Timestamp("03/31/2015")

In [ ]:
pd.Timestamp("2021-03-08 08:35:15")

In [ ]:
pd.Timestamp("2021-03-08 6:13:29 PM")

In [ ]:
pd.Timestamp(dt.datetime(2000, 2, 3, 21, 35, 22))

In [ ]:
my_time = pd.Timestamp(dt.datetime(2000, 2, 3, 21, 35, 22))
my_time.year, my_time.month, my_time.day

In [ ]:
my_time.hour, my_time.minute, my_time.second

## 11.2 Storing Multiple Timestamps in a DatetimeIndex

In [ ]:
pd.Series([1, 2, 3]).index

In [ ]:
pd.Series([1, 2, 3], index = ["A", "B", "C"]).index

In [ ]:
timestamps = [
    pd.Timestamp("2020-01-01"),
    pd.Timestamp("2020-02-01"),
    pd.Timestamp("2020-03-01"),
]

pd.Series([1, 2, 3], index = timestamps).index

In [ ]:
datetimes = [
    dt.datetime(2020, 1, 1),
    dt.datetime(2020, 2, 1),
    dt.datetime(2020, 3, 1),
]

pd.Series([1, 2, 3], index = datetimes).index

In [ ]:
string_dates = ["2018/01/02", "2016/04/12", "2009/09/07"]
pd.DatetimeIndex(string_dates)

In [ ]:
mixed_dates = [
    dt.date(2018, 1, 2),
    "2016/04/12",
    pd.Timestamp(2009, 9, 7)
]

dt_index = pd.DatetimeIndex(mixed_dates)
dt_index

In [ ]:
s = pd.Series(data = [100, 200, 300], index = dt_index)
s

In [ ]:
s.sort_index()

In [ ]:
morning = pd.Timestamp("2020-01-01 11:23:22 AM")
evening = pd.Timestamp("2020-01-01 11:23:22 PM")

morning < evening

## 11.3	Converting Column or Index Values to Datetimes

In [ ]:
disney = pd.read_csv("disney.csv")
disney.head()

In [ ]:
disney.dtypes

In [ ]:
disney = pd.read_csv("disney.csv", parse_dates = ["Date"])

In [ ]:
string_dates = ["2015-01-01", "2016-02-02", "2017-03-03"]
dt_index = pd.to_datetime(string_dates)
dt_index

In [ ]:
pd.to_datetime(disney["Date"]).head()

In [ ]:
disney["Date"] = pd.to_datetime(disney["Date"])

In [ ]:
disney.dtypes

## 11.4 Using the DatetimeProperties Object

In [ ]:
disney["Date"].dt

In [ ]:
disney["Date"].head(3)

In [ ]:
disney["Date"].dt.day.head(3)

In [ ]:
disney["Date"].dt.month.head(3)

In [ ]:
disney["Date"].dt.year.head(3)

In [ ]:
disney["Date"].dt.dayofweek.head()

In [ ]:
disney["Date"].dt.day_name().head()

In [ ]:
disney["Day of Week"] = disney["Date"].dt.day_name()

In [ ]:
group = disney.groupby("Day of Week")

In [ ]:
group.mean()

In [ ]:
disney["Date"].dt.month_name().head()

In [ ]:
disney["Date"].dt.is_quarter_start.tail()

In [ ]:
disney[disney["Date"].dt.is_quarter_start].head()

In [ ]:
disney[disney["Date"].dt.is_quarter_end].head()

In [ ]:
disney[disney["Date"].dt.is_month_start].head()

In [ ]:
disney[disney["Date"].dt.is_month_end].head()

In [ ]:
# Empty DataFrame - the stock market is closed on New Year's Day
disney[disney["Date"].dt.is_year_start].head()

In [ ]:
disney[disney["Date"].dt.is_year_end].head()

## 11.5 Adding and Subtracting Durations of Time

In [ ]:
pd.DateOffset(years = 3, months = 4, days = 5)

In [ ]:
disney["Date"].head()

In [ ]:
(disney["Date"] + pd.DateOffset(days = 5)).head()

In [ ]:
(disney["Date"] - pd.DateOffset(days = 3)).head()

In [ ]:
(disney["Date"] + pd.DateOffset(days = 10, hours = 6)).head()

In [ ]:
(
    disney["Date"]
    - pd.DateOffset(
        years = 1, months = 3, days = 10, hours = 6, minutes = 3
    )
).head()

## 11.6 Date Offsets

In [ ]:
disney["Date"].tail()

In [ ]:
(disney["Date"] + pd.tseries.offsets.MonthEnd()).tail()

In [ ]:
(disney["Date"] - pd.tseries.offsets.MonthEnd()).tail()

In [ ]:
(disney["Date"] + pd.tseries.offsets.MonthBegin()).tail()

In [ ]:
(disney["Date"] - pd.tseries.offsets.MonthBegin()).tail()

In [ ]:
may_dates = ["2020-05-28", "2020-05-29", "2020-05-30"]
end_of_may = pd.Series(pd.to_datetime(may_dates))
end_of_may

In [ ]:
end_of_may + pd.tseries.offsets.MonthEnd()

In [ ]:
end_of_may + pd.tseries.offsets.BMonthEnd()

## 11.7 The `timedelta` Object

In [ ]:
duration = pd.Timedelta(
    days = 8,
    hours = 7,
    minutes = 6,
    seconds = 5
)

duration

In [ ]:
pd.to_timedelta("3 hours, 5 minutes, 12 seconds")

In [ ]:
pd.to_timedelta(5, unit = "hour")

In [ ]:
pd.to_timedelta([5, 10, 15], unit = "day")

In [ ]:
pd.Timestamp("1999-02-05") - pd.Timestamp("1998-05-24")

In [ ]:
pd.read_csv("deliveries.csv").head()

In [ ]:
deliveries = pd.read_csv("deliveries.csv")

In [ ]:
deliveries["order_date"] = pd.to_datetime(
    deliveries["order_date"]
)

deliveries["delivery_date"] = pd.to_datetime(
    deliveries["delivery_date"]
)

In [ ]:
for column in ["order_date", "delivery_date"]:
    deliveries[column] = pd.to_datetime(deliveries[column])

In [ ]:
deliveries.head()

In [ ]:
(deliveries["delivery_date"] - deliveries["order_date"]).head()

In [ ]:
deliveries["duration"] = deliveries["delivery_date"] - deliveries["order_date"]
deliveries.head()

In [ ]:
deliveries.dtypes

In [ ]:
(deliveries["delivery_date"] - deliveries["duration"]).head()

In [ ]:
(deliveries["delivery_date"] + deliveries["duration"]).head()

In [ ]:
deliveries.sort_values("duration")

In [ ]:
deliveries["duration"].max()

In [ ]:
deliveries["duration"].min()

In [ ]:
deliveries["duration"].mean()

In [ ]:
# The two lines below are equivalent
(deliveries["duration"] > pd.Timedelta(days = 365)).head() 
(deliveries["duration"] > "365 days").head()

In [ ]:
deliveries[deliveries["duration"] > "365 days"].head()

In [ ]:
long_time = (deliveries["duration"] > "2000 days, 8 hours, 4 minutes")

deliveries[long_time].head()

## 11.8 Coding Challenge

### 11.8.1 Questions

In [ ]:
citi_bike = pd.read_csv("citibike.csv")
citi_bike.head()

In [ ]:
citi_bike.info()

### 11.8.2. Answers

In [ ]:
for column in ["starttime", "stoptime"]:
    citi_bike[column] = pd.to_datetime(citi_bike[column])

In [ ]:
citi_bike["usertype"] = citi_bike["usertype"].astype(
    "category"
)

In [ ]:
citi_bike.info()

In [ ]:
citi_bike["starttime"].dt.day_name().head()

In [ ]:
citi_bike["starttime"].dt.day_name().value_counts()

In [ ]:
(citi_bike["starttime"] - pd.tseries.offsets.Week()).head()

In [ ]:
citi_bike["starttime"].dt.dayofweek.head()

In [ ]:
days_away_from_monday = citi_bike["starttime"].dt.dayofweek

In [ ]:
citi_bike["starttime"] - pd.to_timedelta(
    days_away_from_monday, unit = "day"
)

In [ ]:
dates_rounded_to_monday = citi_bike["starttime"] - pd.to_timedelta(
    days_away_from_monday,
    unit = "day"
)

In [ ]:
dates_rounded_to_monday.value_counts().head()

In [ ]:
dates_rounded_to_monday.dt.date.head()

In [ ]:
dates_rounded_to_monday.dt.date.value_counts()

In [ ]:
citi_bike["duration"] = (
    citi_bike["stoptime"] - citi_bike["starttime"]
)

citi_bike.head()

In [ ]:
citi_bike["duration"].mean()

In [ ]:
citi_bike["duration"].sort_values(ascending = False).head()

In [ ]:
citi_bike.nlargest(n = 5, columns = "duration")